.currencies {
  text-align: center;
  & label{
    display: flex;
  }
  &-result{
    margin-top: 48px;
    margin-bottom: 0;
  }
  &-input {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1.25em 2em;
    margin-top: 1.25rem;
    border-radius: 32px;
    & input {
      font-size: 16px;
      border: 0;
    }
    & select {
      font-size: 16px;
      border: 0;
      padding-right: 1em;
    }
  }
}
