.currencies {
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  text-align: center;
  &-result{
    margin-top: 1rem;
    margin-bottom: 0;
  }
  &-input {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1.25em 2em;
    margin-top: 1.25rem;
    border-radius: 32px;
    & input {
      font-size: 1rem;
      border: 0;
    }
    & select {
      font-size: 1rem;
      border: 0;
      padding-right: 1em;
    }
  }
}
