.header{
    margin-top: 24px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center; 
    & span{
        display: flex;
    }
    & h6{
        padding-left: 8px;
    }
   &::after{
    position: absolute;
    top: 80px;
    left: 0;
    content: '';
    height: 2px;
    width: 100vw;
    background-color: lighten($color: black, $amount: 50);
   }
}